<template>
  <div :class="['preloader-wrap', overlay ? 'overlay' : '']">
    <div class="wrapper">
      <div class="loder_wrapper">
        <div class="circle"></div>
      </div>
      <div class="message"><slot /></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PreLoader",
  props: ["overlay"]
};
</script>

<style lang="scss">
.preloader-wrap {
  display: flex;
  flex: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 98;
  &.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba($white, 0.6);
  }
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #fff;
    border: 2px solid $bright-blue;
    border-bottom: 0;
    border-radius: 100%;
    animation: anim-rotate 1.2s linear infinite;
  }
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .loder_wrapper {
    position: relative;
    width: 50px;
    height: 50px;
  }
  .layer {
    display: flex;
    position: absolute;
    top: 20%;
    left: 10%;
    transform: scale(0.7) translateX(0px) translateY(-5px);
    img {
      width: 100%;
    }
  }
  .layer-blue {
    animation: anim-layer-blue 1.5s linear infinite;
  }
  .layer-darkblue {
    animation: anim-layer-darkblue 1.5s 0.2s linear infinite;
  }
  .message {
    margin-top: 20px;
  }
}

@keyframes anim-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes anim-layer-blue {
  0% {
    transform: translateX(0) translateY(0px);
    opacity: 0;
  }
  10% {
    transform: translateX(0) translateY(0px);
    opacity: 0;
  }
  20% {
    transform: translateX(0) translateY(-5px);
    opacity: 1;
  }
  80% {
    transform: translateX(0) translateY(-5px);
    opacity: 1;
  }
  90% {
    transform: translateX(0) translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(-10px);
    opacity: 0;
  }
}
@keyframes anim-layer-darkblue {
  0% {
    transform: translateX(0) translateY(5px);
    opacity: 0;
  }
  10% {
    transform: translateX(0) translateY(5px);
    opacity: 0;
  }
  20% {
    transform: translateX(0) translateY(0px);
    opacity: 1;
  }
  80% {
    transform: translateX(0) translateY(0px);
    opacity: 1;
  }
  90% {
    transform: translateX(0) translateY(-5px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(-5px);
    opacity: 0;
  }
}
</style>
