<template>
  <div
    v-click-outside="hide"
    :class="['select', theme, { active: displayMenu }]"
  >
    <label for="select">{{ label }}</label>
    <div class="content" @click="toggle">
      <span :class="{ place_holder: !selected || !selected.value }">{{
        selected && selected.value ? selected.name : "select"
      }}</span>
      <i :class="['icon-down-open-arrow icon-span']"></i>
    </div>
    <span class="error" v-if="errorMsg">{{ errorMsg }}</span>
    <ul class="menu" v-if="options && options.length">
      <template v-for="(option, index) in options">
        <li
          :class="{ selected: selected && option.value === selected.value }"
          v-if="option.name"
          @click="updateOption(option)"
          :key="index"
        >
          {{ option.name }}
        </li>
      </template>
    </ul>
  </div>
</template>

<script>
import ClickOutside from "vue-click-outside";
export default {
  name: "Selectbox",
  directives: {
    ClickOutside
  },
  data() {
    return {
      displayMenu: false
    };
  },
  props: {
    label: String,
    options: Array,
    selected: Object,
    errorMsg: String,
    theme: {
      type: String,
      default: "light",
      validator: value => {
        return value === "light" || value === "dark";
      }
    }
  },

  methods: {
    updateOption(option) {
      this.$emit("select", option);
      this.displayMenu = false;
    },

    toggle() {
      this.displayMenu = !this.displayMenu;
    },
    hide() {
      this.displayMenu = false;
    }
  }
};
</script>
<style lang="scss" scoped>
@import "@/scss/_mixins";
.select {
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.8em 0 1.2em;
  position: relative;
  &.dark {
    --content-bg-color: #{rgba($dark-gray, 0.3)};
    --contentfocus-bg-color: #{rgba($dark-gray, 0.4)};
    --content-color: #{$white};
    --label-color: #{$bluey-gray};
    --contentborder-color: #{rgba($dark-gray, 1)};
    --contenthoverborder-color: #{lighten($dark-gray, 20)};
    --dropdown-bg-color: #{$dark-gray};
    --dropdownhover-bg-color: #{lighten($logobg-gray, 0)};
    --placeholder-color: #{darken($bluey-gray, 20)};
  }
  color: var(--content-color, $dark-gray);
  label {
    @include label-typo;
  }
  .content {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 30px 5px 10px;
    text-transform: capitalize;
    background: var(--content-bg-color, $white);
    border: 1px solid var(--contentborder-color, $dark-gray);
    border-radius: 3px;
    height: 4rem;
    font-size: 1.5em;
    position: relative;
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &.place_holder {
        color: var(--placeholder-color, $bluey-gray);
      }
    }
  }
  .icon-span {
    font-size: 8px;
    position: absolute;
    right: 12px;
    top: 40%;
    transition: all 0.3s;
    &.active {
      transform: rotate(180deg);
    }
  }
  .error {
    @include error-typo;
  }
  &.active {
    .content {
      background: var(--contentfocus-bg-color, $white);
      border: 1px solid var(--contenthoverborder-color, $dark-gray);
    }
    .menu {
      display: block;
    }
    .icon-span {
      transform: rotate(180deg);
    }
  }
}

.menu {
  @include dropdown-shadow;
  position: absolute;
  width: 100%;
  min-width: 150px;
  z-index: 99;
  display: none;
  background-color: var(--dropdown-bg-color, $white);
  border-radius: 3px;
  left: 0;
  top: 66px;
  font-size: 1.3em;
  padding: 1em 0;
  max-height: 200px;
  overflow-x: auto;
  &::-webkit-scrollbar {
    background: var(--dropdown-bg-color, $white);
  }
  li {
    padding: 0.8em 1.5em;
    list-style: none;
    &.selected {
      font-weight: 600;
    }
  }
  li:hover {
    background: var(--dropdownhover-bg-color, $light-gray);
  }
}
</style>
