<template>
  <button
    :class="['button', `${btn_type}`, { prime: prime }]"
    :disabled="disabled"
    @click="onClick"
  >
    <slot></slot>
  </button>
</template>
<script>
export default {
  props: {
    btn_type: String,
    disabled: Boolean,
    showLoader: Boolean,
    prime: Boolean || String,
    prevent: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    onClick(e) {
      if (this.prevent) e.preventDefault();
      this.$emit("click", e);
    }
  },
  computed: {}
};
</script>
<style lang="scss" scoped>
.button {
  $button-color: $bright-blue;
  width: 100%;
  height: 40px;
  min-width: 100px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  color: #fff;
  position: relative;
  font-size: 14px;
  background: $button-color;
  padding: 0 15px;
  &.line {
    background: $white;
    border: 1px solid $button-color;
    color: $button-color;
    &[disabled] {
      background: $white;
      border: 1px solid lighten($button-color, 35%);
      color: lighten($button-color, 35%);
    }
  }
  &.text {
    background: $white;
    color: $button-color;
    &[disabled] {
      background: $white;
      color: lighten($button-color, 35%);
    }
  }
  &[disabled] {
    background: lighten($button-color, 35%);
  }
  &:focus {
    outline: none;
    box-shadow: 0 2px 3px rgba(#000, 0.2);
  }
}
</style>
