<template>
  <div>
    <section class="datepicker_row">
      <Datepicker
        v-bind="{ label: 'From Date', ...fromDateProps }"
        @onDatepick="val => selectFilterDate(val, filterKeys.FROM_DATE)"
      />
      <Datepicker
        v-bind="{ label: 'To Date', ...toDateProps }"
        @onDatepick="val => selectFilterDate(val, filterKeys.TO_DATE)"
      />
    </section>
  </div>
</template>
<script>
import moment from "moment";
import Datepicker from "@/components/Datepicker";
import { filterKeys } from "@/constants";
import { mapMutations, mapGetters } from "vuex";
export default {
  props: {
    startDateError: Boolean,
    endDateError: Boolean
  },
  components: { Datepicker },
  data() {
    return {};
  },
  computed: {
    ...mapGetters(["getFilterParams"]),
    filterKeys: () => filterKeys,
    startDate: ({ getFilterParams, filterKeys }) =>
      getFilterParams(filterKeys.FROM_DATE),
    endDate: ({ getFilterParams, filterKeys }) =>
      getFilterParams(filterKeys.TO_DATE),
    fromDateProps: ({
      startDate,
      formatedDate,
      disableFromTheDate,
      startDateError
    }) => {
      return {
        options: {
          value: startDate,
          disabledDates: {
            from: disableFromTheDate
          },
          placeholder: "DD / MM / YYYY",
          format: formatedDate
        },
        errorMsg: startDateError ? "Please enter valid from date." : ""
      };
    },
    toDateProps: ({
      endDate,
      formatedDate,
      disableTillTheDate,
      endDateError
    }) => {
      return {
        options: {
          value: endDate,
          disabledDates: {
            to: disableTillTheDate,
            from: moment().toDate()
          },
          placeholder: "DD / MM / YYYY",
          format: formatedDate
        },
        errorMsg: endDateError ? "Please enter valid to date." : ""
      };
    },
    disableFromTheDate({ endDate }) {
      return endDate ? moment(endDate).toDate() : moment().toDate();
    },
    disableTillTheDate({ startDate }) {
      return startDate ? moment(startDate).toDate() : moment().toDate();
    }
  },
  methods: {
    ...mapMutations({ setFilter: "SET_FILTER_VALUE" }),
    selectFilterDate(e, type) {
      const { FROM_DATE, TO_DATE } = this.filterKeys;
      if (type === TO_DATE) {
        this.setFilter({ [TO_DATE]: e });
        this.$emit("onChange", TO_DATE, e);
      } else if (type === FROM_DATE) {
        this.setFilter({ [FROM_DATE]: e });
        this.$emit("onChange", FROM_DATE, e);
      }
    },
    formatedDate(date) {
      return moment(date).format("DD MMM, YYYY");
    }
  }
};
</script>
<style lang="scss" scoped>
.datepicker_row {
  display: flex;
  margin-bottom: 20px;
}
.dp-wrapper {
  max-width: 200px;
  margin-right: 15px;
}
</style>
