<template>
  <div class="search_field_wrapper">
    <Selectbox
      class="type_select"
      label="Search type"
      v-bind="{
        options: searchSelectOptions,
        selected: { ...selectedSearchType }
      }"
      @select="obj => filterChange(obj)"
    />
    <TextField
      class="search_input"
      :errorMsg="errorMsg"
      :value="inputVal"
      @input="userInput"
    />
    <Button
      class="search_button"
      :disabled="!selectedSearchType.value"
      @click="search"
      >Search</Button
    >
  </div>
</template>

<script>
import Button from "@/components/Button";
import TextField from "@/components/TextField";
import Selectbox from "@/components/Selectbox";
import { searchSelectOptions, filterKeys } from "@/constants";
import { mapGetters, mapMutations, mapActions } from "vuex";
const { USERID, PRAN, MASTER_TRANSACTION_ID } = filterKeys;
export default {
  data() {
    return {
      USERID,
      PRAN,
      MASTER_TRANSACTION_ID,
      searchSelectOptions,
      selectedSearchType: searchSelectOptions[0],
      errorMsg: ""
    };
  },
  components: {
    Button,
    TextField,
    Selectbox
  },
  watch: {
    $route() {
      this.errorMsg = "";
    },
    inputVal() {
      this.errorMsg = "";
    }
  },
  computed: {
    ...mapGetters(["getFilterParams"]),
    inputVal: ({
      selectedSearchType: { value: selectedKey },
      getFilterParams
    }) => getFilterParams(selectedKey),
    isValid: ({ inputVal, selectedSearchType }) => {
      let key = selectedSearchType?.value;
      let valueLength = inputVal?.trim()?.length;
      return key === PRAN ? valueLength === 12 : valueLength > 0;
    }
  },
  methods: {
    ...mapActions("transactions", ["getTransactionsData"]),
    ...mapMutations({ setFilter: "SET_FILTER_VALUE" }),
    filterChange(item) {
      const resetKeys = {
        [USERID]: null,
        [PRAN]: null,
        [MASTER_TRANSACTION_ID]: null
      };
      this.setFilter({ ...resetKeys });
      this.selectedSearchType = item;
    },
    userInput(id, val) {
      let key = this.selectedSearchType?.value;
      this.setFilter({ [key]: val });
      this.errorMsg = "";
    },
    search() {
      const { inputVal, selectedSearchType, isValid } = this;
      if (inputVal && isValid) {
        this.errorMsg = "";
        this.getTransactionsData({ searchKey: selectedSearchType.value });
      } else if (inputVal && !isValid) {
        this.errorMsg = `Please Enter correct ${selectedSearchType.name}`;
      } else {
        this.errorMsg = `Please Enter ${selectedSearchType.name}`;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.search_field_wrapper {
  display: flex;
  .search_input {
    flex-grow: 2;
    margin: 1.8rem 0 1.2rem 1.5rem;
  }
  .type_select {
    max-width: 15em;
  }
  .search_button {
    max-width: 10em;
    margin: 2.6rem 0 1.2rem 1.5rem;
  }
}
</style>
