<template>
  <div :class="['menu-item', isExpandClass]" v-if="hasPermission">
    <div class="menu-link" @click="toggleMenuItem" :class="activeClass">
      <i class="icon-ticket" v-if="level == 0" />
      <i class="icon-carrot-down" v-else-if="item.children" />
      <span :style="{ paddingLeft: indent }"> {{ item.label }}</span>
    </div>
    <transition v-if="isActiveMenu" name="fade">
      <div class="childMenu">
        <MenuItem
          v-for="(child, index) in item.children"
          :key="index"
          :item="child"
          :level="level + 1"
          :parenturl="linkUrl"
        />
      </div>
    </transition>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
// import { checkPermission } from "@/utils";
export default {
  name: "MenuItem",
  props: ["item", "level", "parenturl"],
  data() {
    return {
      isExpanded: false
    };
  },
  methods: {
    toggleMenuItem() {
      const {
        linkUrl,
        $router: { currentRoute }
      } = this;
      if (currentRoute.fullPath !== linkUrl) {
        this.$router.replace(linkUrl).catch(() => {
          return null;
        });
      }
      window.scrollTo(0, 0);
    },
    hasActiveChildren() {
      const child = this.item.children;
      if (child) {
        for (var elem in child) {
          if (
            child[elem].url === this.$route.path ||
            this.$route.path.includes(this.linkUrl)
          ) {
            return true;
          }
        }
      }
      return false;
    }
  },
  computed: {
    ...mapGetters("userDetails", ["userPermissions", "checkPermissions"]),
    hasPermission: ({ checkPermissions, item }) =>
      checkPermissions(item.permissions),
    indent() {
      return this.level * 20 + "px";
    },
    linkUrl: ({ parenturl, item }) => parenturl + item.url,
    isExpandClass() {
      return this.hasActiveChildren() ? "menu_expanded" : "";
    },
    activeClass({ isActiveMenu, level }) {
      return isActiveMenu
        ? level == 0
          ? "active"
          : "child_active_elem"
        : null;
    },
    isActiveMenu: ({ linkUrl, $route: { path } }) => path.startsWith(linkUrl)
  }
};
</script>

<style lang="scss">
.menu-item {
  &.menu_expanded {
    background: $dark-gray;
  }
  i.icon-ticket {
    width: 20px;
  }
  .menu-link {
    display: block;
    cursor: pointer;
    color: $bluey-gray;
    text-decoration: none;
    padding: 5px 15px;
    min-height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    display: flex;
    align-items: center;
  }
  span {
    white-space: nowrap;
  }
  .active {
    color: $bright-blue;
    font-weight: 600;
  }
  .child_active_elem {
    color: $bright-blue;
    font-weight: 600;
  }
  img,
  .label {
    width: 23px;
    height: 23px;
    display: block;
    margin: 0 25px 0 5px;
    font-style: normal;
    em {
      font-style: normal;
    }
  }
  .childMenu {
    overflow: hidden;
    .icon-carrot-down {
      margin-left: 10px;
      margin-top: -6px;
    }
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: all 0.3s;
    max-height: 100vh;
    opacity: 1;
  }
  .fade-leave,
  .fade-enter-to {
    opacity: 0;
    max-height: 100vh;
  }
  .fade-leave-to,
  .fade-enter {
    opacity: 0;
    max-height: 0vh;
  }
}
</style>
