<template>
  <div class="page_wrapper">
    <PreLoader v-if="isLoading" :overlay="true" />
    <TabComponent @changed="({ id }) => onChangeTab(id, this)">
      <Tab id="transaction_report" :title="{ title: 'Transaction reports' }">
        <SearchFilter
          v-bind="{ showDateFilter: true, showStatusFilter: true }"
          @applyFilter="() => getGstReportData({ activeTab })"
        />
      </Tab>
      <Tab id="trial_balance_report" :title="{ title: 'Trial Balance' }">
        <SearchFilter
          v-bind="{ showDateFilter: true, showStatusFilter: false }"
          @applyFilter="() => getGstReportData({ activeTab })"
        />
      </Tab>
      <Tab id="gst_payable_report" :title="{ title: 'GST Payable' }">
        <SearchFilter
          v-bind="{ showDateFilter: true, showStatusFilter: false }"
          @applyFilter="() => getGstReportData({ activeTab })"
        />
      </Tab>
    </TabComponent>
    <Button
      class="download_btn"
      @click="downloadCsvFile(gstReportsData, activeTab)"
      :disabled="!gstReportsData"
    >
      <i class="icon-download"></i>
      Download
    </Button>
  </div>
</template>

<script>
// @ is an alias to /src
import { mapState, mapActions, mapGetters, mapMutations } from "vuex";
import Button from "@/components/Button";
import TabComponent from "@/components/TabComponent";
import PreLoader from "@/components/PreLoader";
import Tab from "@/components/TabComponent/Tab";
import SearchFilter from "@/components/SearchFilter";
export default {
  name: "Reports",
  components: { Button, Tab, TabComponent, SearchFilter, PreLoader },
  data() {
    return {
      activeTab: ""
    };
  },
  computed: {
    ...mapState("reports", ["isLoading"]),
    ...mapGetters("reports", ["gstReportsData"])
  },
  methods: {
    ...mapActions("reports", ["getGstReportData"]),
    ...mapMutations("reports", { setReportData: "SET_REPORTS_DATA" }),
    ...mapMutations({ resetFilterData: "RESET_FILTER_VALUE" }),
    downloadCsvFile: (csvData, activeTab) => {
      const url = window.URL.createObjectURL(
        new Blob([csvData], { type: "text/csv" })
      );
      const link = document.createElement("a");
      link.href = url;
      link.setAttribute("download", `${activeTab}.csv`); //or any other extension
      document.body.appendChild(link);
      link.click();
    },
    onChangeTab(id) {
      this.activeTab = id;
      this.resetFilterData();
      this.setReportData(null);
    }
  }
};
</script>
<style lang="scss" scoped>
.tab-component {
  margin-bottom: 20px;
  .tabs-component-panel {
    padding: 0;
  }
}
.download_btn {
  max-width: 300px;
}
</style>
