<template>
  <div class="page_wrapper">
    <SearchFilter
      :showDateFilter="true"
      :inlineButton="true"
      @applyFilter="getFinReconData"
    />
    <TitleCards v-bind="{ cardData }" />
    <PaginatedTable
      :expand="true"
      :tableData="tableData"
      :tableWidth="tableData ? '150rem' : null"
      :totalPages="totalPages"
      @onClickTableFilter="getFinReconData"
      @onSort="(sortKey, sortOrder) => updateSortOrder({ sortKey, sortOrder })"
    >
      <AddEntry />
    </PaginatedTable>

    <PreLoader v-if="isLoading" :overlay="true" />
  </div>
</template>

<script>
// @ is an alias to /src
import moment from "moment";
import TitleCards from "@/components/TitleCards";
import SearchFilter from "@/components/SearchFilter";
import PaginatedTable from "@/components/PaginatedTable";
import PreLoader from "@/components/PreLoader";
import AddEntry from "./AddEntry";
import { filterKeys } from "@/constants";
import { mapState, mapGetters, mapActions, mapMutations } from "vuex";
export default {
  name: "FinancialRecon",
  components: { TitleCards, SearchFilter, PaginatedTable, PreLoader, AddEntry },
  computed: {
    ...mapState("financialRecon", ["finReconData", "isLoading", "sortItem"]),
    ...mapGetters("financialRecon", {
      cardData: "getCardData",
      tableData: "getTableData",
      totalPages: "getTotalPages"
    })
  },
  methods: {
    ...mapActions("financialRecon", ["getFinReconData"]),
    ...mapMutations({ setFilterData: "SET_FILTER_VALUE" }),
    ...mapMutations("financialRecon", { updateSortOrder: "SET_SORT_VALUE" })
  },
  created() {
    const { FROM_DATE, TO_DATE } = filterKeys;
    let endData = moment().toDate();
    let startData = moment()
      .subtract(1, "month")
      .toDate();
    this.setFilterData({ [FROM_DATE]: startData, [TO_DATE]: endData });
    this.getFinReconData();
  },
  watch: {
    sortItem() {
      this.getFinReconData();
    }
  }
};
</script>
<style lang="scss" scoped>
/deep/ .table_wrapper {
  .debitHead,
  .creditHead {
    min-width: 30rem;
  }
}
</style>
