<template>
  <div v-if="grpNumber >= 0" class="page_container">
    <div>
      <span :class="{ disabled: grpNumber <= 0 }" @click="prev()">&#8592;</span>
    </div>
    <div class="page_list">
      <ul class="page">
        <template v-for="(i, index) in limit">
          <li
            :class="{ active: isActive(i) }"
            v-if="i > startingNumber"
            @click="changePage(i)"
            :key="index"
          >
            {{ i }}
          </li>
        </template>
      </ul>
    </div>
    <div>
      <span
        :class="{
          disabled: limit >= totalPages
        }"
        @click="next()"
        >&#8594;</span
      >
    </div>
  </div>
</template>

<script>
export default {
  name: "Pagination",
  data() {
    return {
      grpNumber: 0
    };
  },
  props: {
    totalPages: {
      type: Number,
      default: 1
    },
    activePage: {
      type: Number,
      default: 1
    },
    size: {
      type: Number,
      default: 5
    },
    initPageNumber: {
      type: Number,
      default: 1, //0||1
      validator: prop => [0, 1].includes(prop)
    }
  },
  computed: {
    startingNumber({ grpNumber, size }) {
      return grpNumber * size;
    },
    limit({ startingNumber, size, totalPages }) {
      if (startingNumber + size > totalPages) {
        return totalPages;
      } else {
        return startingNumber + size;
      }
    },
    offset: ({ initPageNumber }) => (initPageNumber === 0 ? 1 : 0)
  },

  methods: {
    prev() {
      if (this.grpNumber <= 0) {
        return;
      }
      this.grpNumber--;
    },
    next() {
      const { limit, totalPages } = this;
      if (limit >= totalPages) {
        return;
      }
      this.grpNumber++;
    },
    changePage(val) {
      let { offset } = this;
      this.$emit("onChangePage", val - offset);
    },
    isActive(param) {
      let { activePage, offset, initPageNumber } = this;
      activePage =
        initPageNumber === 1 && activePage < initPageNumber ? 1 : activePage;
      return param === activePage + offset;
    }
  },
  watch: {
    activePage(val) {
      if (val === 0 || val === 1) {
        this.grpNumber = 0;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.page_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: $dark-gray;
  span {
    cursor: pointer;
    font-size: 20px;
    &.disabled {
      color: $light-gray;
    }
  }
  .page {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 0 5px 0 5px;
    li {
      list-style: none;
      display: flex;
      justify-content: center;
      width: 20px;
      height: 20px;
      margin: 0 2px 0 2px;
      align-items: center;
      text-align: center;
      font-size: 12px;
      cursor: pointer;
      &.active {
        color: #fff;
        background: $dark-gray;
        border-radius: 50%;
      }
    }
  }
}
</style>
