<template>
  <div class="drop">
    <div class="content">
      {{ selected.name }} {{ type }}
      <i :class="['icon-down-open-arrow icon-span']"></i>
    </div>
    <div :class="['menu', styleClass]">
      <ul>
        <template v-for="(option, index) in options">
          <li
            v-if="selected.name !== option.name"
            @click="selectOption(option)"
            :key="index"
          >
            {{ option.name }} {{ type }}
          </li>
        </template>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "Dropdown",
  data() {
    return {
      displayMenu: false
    };
  },
  props: {
    options: Array,
    selected: {},
    type: String,
    align: {
      default: "left"
    },
    styleClass: {
      default: () => ["small", "left"] //medium,large
    }
  },

  methods: {
    selectOption(option) {
      this.displayMenu = false;
      this.$emit("onSelect", option);
    },

    toggle() {
      this.displayMenu = !this.displayMenu;
    }
  }
};
</script>
<style lang="scss" scoped>
.drop {
  width: 100%;
  max-width: 20em;
  position: relative;
  color: $dark-gray;
  font-size: 1.2em;
  cursor: pointer;
  border: 0.1em solid $dark-gray;
  border-radius: 0.4em;
  .content {
    height: 3em;
    min-width: 7em;
    padding: 0.5em 3em 0.5em 1em;
    text-transform: capitalize;
    display: flex;
    align-items: center;
  }
  .icon-span {
    font-size: 0.8em;
    position: absolute;
    right: 1.2em;
    top: 40%;
    transition: all 0.3s;
    &.active {
      transform: rotate(180deg);
    }
  }

  &:hover {
    .menu {
      display: block;
    }
    .icon-span {
      transform: rotate(180deg);
    }
  }
}

.menu {
  position: absolute;
  display: none;
  top: 100%;
  height: auto;
  width: 100%;
  min-width: 15em;
  max-width: 30em;
  z-index: 1000;
  text-align: left;
  background-color: $white;
  border: 0.1em solid $light-gray;
  border-radius: 0.4em;
  @include dropdown-shadow;
  // box-shadow: 0 .5em 1.0em rgba(0, 0, 0, 0.2);
  &.top {
    bottom: 3em;
    top: auto;
  }
  &.left {
    left: 0em;
  }
  &.right {
    right: 0;
    left: auto;
  }
  &.small {
    min-width: 10em;
    max-width: 15em;
  }
  &.medium {
    min-width: 15em;
    max-width: 30em;
  }
  &.large {
    min-width: 30em;
    max-width: 50em;
  }
  ul {
    border-radius: 0.4em;
    max-height: 15em;
    overflow: hidden;
    overflow-y: auto;
  }
  li {
    padding: 0.8em 1.5em;
    list-style: none;
  }
  li:hover {
    background: $light-gray;
  }
}
</style>
