@mixin card-shadow {
    box-shadow: 0 1em 2em 0 rgba(46, 91, 255, 0.07);
}
@mixin dropdown-shadow {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
@mixin clear-fix {
    clear: both;
    flex-wrap: wrap;
    &:after{
      content:'';
      display:table;
      width: 100% ;
      height: 1px;
    }
}
@mixin error-typo {
  position: absolute;
  bottom: 0em;
  color: $faded-red;
  text-transform: capitalize;
  font-size: 0.85rem;
}
@mixin label-typo {
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--label-color, $dark-gray);
  padding-bottom: 0.5em;
  line-height: 1em;
  text-transform: uppercase;
}
