@import './normalize', './_variables',  './iconFonts', './_mixins';


body {
   font-family: 'Open Sans', sans-serif;
   &.hide_scroll {
    overflow-y: hidden;
   }
   &.scroll{
        overflow-y: visible;
    }
}
::-webkit-scrollbar-track{
	// -webkit-box-shadow: inset 0 0 6px $bluey-dark-gray;
	// box-shadow: inset 0 0 6px $bluey-dark-gray;
	// background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
    background-color: $bluey-gray;
    border-radius: 5px;
    transition: all 0.2s;
    width: 0.7em;
    &:hover{
        background-color: $bluey-dark-gray;
    }
}
::-webkit-scrollbar{
    width: 0.7em;
    height: 0.7em;
    background-color:transparent;
    background-color:#f0f0f0;
}
