@font-face {
  font-family: 'bytesicon';
  src:  url('~@/assets/fonts/bytesicon.eot?wchjoj');
  src:  url('~@/assets/fonts/bytesicon.eot?wchjoj#iefix') format('embedded-opentype'),
    url('~@/assets/fonts/bytesicon.ttf?wchjoj') format('truetype'),
    url('~@/assets/fonts/bytesicon.woff?wchjoj') format('woff'),
    url('~@/assets/fonts/bytesicon.svg?wchjoj#bytesicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bytesicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-carrot-up:before {
  content: "\e900";
}
.icon-carrot-down:before {
  content: "\e901";
}
.icon-sort:before {
  content: "\e905";
}
.icon-ticket:before {
  content: "\e90a";
}
.icon-edit:before {
  content: "\e90c";
}
.icon-down-open-arrow:before {
  content: "\e902";
}
.icon-left-arrow:before {
  content: "\e903";
}
.icon-right-arrow:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e907";
}
.icon-minus:before {
  content: "\e908";
}
.icon-plus:before {
  content: "\e909";
}
.icon-download:before {
  content: "\e913";
}
